*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
.newBtn{
    border: 1px solid #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    border-radius: 15px;
    outline: none;
    background: #ffffff70;
    backdrop-filter: blue(8px);
    margin-top: 10px;
}
#header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}
.open,.close{
    font-size: 40px;
    color: #fff;
    display: none;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10%;
    z-index: 1000;
    transition: all .5s ease;
}
nav.sticky{
    border-bottom: 1px solid #fff;
    backdrop-filter: blur(7px);
    padding: 5px 10%;
}
.logo{
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background: url(./images/back.png);
    -webkit-background-clip: text;
    background-position: 0;
    animation: text 20s linear infinite;
}
@keyframes text{
    100%{
        background-position: 2000px;
    }
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(0, 81, 255);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s ease;
}
nav ul li a:hover,
nav ul li a:hover::after,
nav ul li a.active,
nav ul li a.active::after{
    width: 100%;
    color: rgb(0, 81, 255);
}
.header-text{
    padding: 20% 0;
    font-size: 30px;
    padding-left: 40%;
    text-shadow: 0px 0px 8px black;
    opacity: 0;
    transform: translateY(-40px);
    transition: .5s;
}
.header-text p{
    text-shadow: none;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #000000;
    color: transparent;
    background: url(./images/back.png);
    -webkit-background-clip: text;
    background-position: 0;
    animation: text 20s linear infinite;
}
.header-text h1{
    font-size: 4rem;
    margin-top: 10px;
}
.header-text h1 span{
    text-shadow: none;
    font-size: 5rem;
    font-weight: 700;
    padding: 10px;
    background: linear-gradient(45deg, #ff0000, #ffff00, #ff00f3, #66ff00, #16bffd,#a80077);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    background-size: 400%;
    color: transparent;
    animation: animate 10s linear infinite;
}
.header-text #watch{
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 30px;
    cursor: pointer;
    text-shadow: none;
    background: linear-gradient(45deg,#ff0000, #ffff00, #ff00f3, #66ff00, #16bffd,#ffff);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    background-size: 400%;
    color: transparent;
    padding: 10px;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 400%;
    }
}
nav .fa-solid{
    display: none;
}
/* ----------------about--------- */
#about{
    padding: 80px 10%;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 700;
    padding: 10px;
    background: linear-gradient(45deg, #ff0000, #ffff00, #ff00f3, #66ff00, #16bffd,#a80077);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    background-size: 400%;
    color: transparent;
    animation: animate 10s linear infinite;
}
.tab-titles{
    display: flex;
    padding: 20px 0 20px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link{
    color: #ff004f;

}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    perspective: 1000px;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.fresher p{
    font-size: 60px;
    font-weight: 700;
    margin-top: 40px;
    animation: rotate 1s linear infinite;
}
@keyframes rotate{
    50%{
        transform: rotate(10deg);
        color: green;
    }
    100%{
        transform: rotate(-6deg);
        color: red;
    }
}
/* -------services------------------ */
#services{
    padding: 80px 10%;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin: 50px 0 0 0;
}
.services-list .services-box{
    background: rgb(56, 52, 52);
    padding: 40px;
    font-size: 300;
    border-radius: 15px;
    transition: all .5s ease;
}
.services-list .services-box i{
    font-size: 50px;
    margin: 0 0 30px 0;
}
.services-list .services-box h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list .services-box p{
    margin-bottom: 10px;
}
.services-list .services-box a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    border-bottom: 2px solid red;
}
.services-list .services-box:hover{
    transform: translateY(-10px);
}
/* ----------portfolio----------- */
#porject{
    padding: 80px 10%;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin: 50px 0 0 0; 
}
.work-list .work{
    background: rgb(56, 52, 52);
    padding: 40px;
    font-size: 300;
    border-radius: 15px;
    transition: all .5s ease;
}
.work-list .work h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.work-list .work a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-bottom: 2px solid red;
}
.work-list .work:hover{
    transform: scale(1.1);
}
.git{
    margin-top: 40px;
    cursor: pointer;
    transition: all .5s ease;
}.git i{
    color: #66ff00;
}
.git a{
    text-decoration: none;
    color: #fff;
}
.git:hover{
    background: #1ad401e3;
}
.git:hover i{
    position: relative;
    left: 10px;
    color: #a80077;
}

/* -----------contact----------- */
#contact{
    padding: 80px 10%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: rgb(255, 0, 43);
    margin-right: 10px;
    font-size: 25px;
}
.social-icons{
    margin: 30px 0;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    transition: all .5s ease;
}
.social-icons a:hover{
    color: rgb(255, 0, 43);
}
.btn{
    padding: 10px 20px;
    text-decoration: none;
    background: rgb(255, 0, 43);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #463d3d;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}
form textarea{
    resize: none;
}
.btn.btn2{
    padding: 10px 60px;
    cursor: pointer;
}
#copyright{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(80, 70, 70);
    font-weight: 300;
    margin-top: 20px;
}
.up-icon a{
    color: #fff;
}
.up-icon .up{
    position: fixed;
    bottom: 2%;
    right: 5%;
    width: 0;
    height: 0;
    border-radius: 15px;
    background: transparent;
    color: #000;
    transition: all .5s ease;
}
.up-icon .up.active{
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #fff;
    z-index: 1000;
}
@media screen and (max-width:1228px){
    .header-text h1{
        font-size: 45px;
    }
    .header-text h1 span{
        font-size: 50px;
    }
}
@media screen and (max-width:922px){
    .header-text h1{
        font-size: 30px;
    }
    #header{
        min-height: 60vh;
    }
    .open,.close{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        background: #000;
        transform: translateX(100%);
        transition: all .5s ease;
    }
    nav ul li a{
        color: #fff;
    }
    .close{
        position: absolute;
        top: 20px;
        left: 20px;
        color: #fff;
    }
    nav ul.active{
        transform: translateX(0);
    }
    .sub-title{
        font-size: 40px;
    }
    .row{
        justify-content: center;
    }
    .header-text h1 span{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
        padding: 10px;
    }
}
@media screen and (max-width:714px){
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
}
@media screen and (max-width:638px){
    #header{
        border-bottom: 1px solid #fff;
    }
    .header-text{
        padding: 115px 0 80px;
        font-size: 35px;
        display: grid;
        place-items: center;
    }  
    .header-text h1{
        font-size: 20px;
        line-height: 1.5;
    } 
    .header-text p{
        font-weight: 300;
        text-transform: capitalize;
    }

    #header::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #0a0000;
        z-index: -1;
    }
    .header-text #watch{
        font-size: 16px;
    }

    .header-text h1 span{
        font-size: 34px;
    }
    .logo{
        font-size: 2rem;
    }
    .tab-links{
        margin-right: 27px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .git{
        width: 100%;
    }
    .git a{
        font-size: 14px;
    }
}